<!DOCTYPE html>
<html>
<head>
  <title>ThirteenLoveInc</title>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= javascript_include_tag "jquery.js" %>


<%= yield %>

</body>
</html>
